{% extends "core/base.html" %}

{% block title %}Аналитика{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2 class="text-center text-white">Добро пожаловать в API</h2>
        <p class="text-center text-white">Здесь вы можете взаимодействовать с нашим API для получения информации о криптовалютных парах и стратегиях. Выберите один из доступных маршрутов ниже:</p>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{% url 'pair_list' %}" class="btn btn-warning w-100">Криптовалютные пары</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'strategy_list' %}" class="btn btn-warning w-100">Стратегии</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'generate_strategy' %}" class="btn btn-warning w-100">Генерация стратегии</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block extra_css %}
    <style>
        .btn-warning {
            color: white !important;
        }

        .btn-warning:hover {
            color: white !important;
        }
    </style>
{% endblock %}
